body {
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-image: url(../images/image1.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
    animation: change 10s infinite ease-in-out;
}

header {
    background-color: #4f6f52;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 50px;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: larger;
}
nav a:hover{
    color: #86a789;
}
.intro {
    text-transform: uppercase;
    text-align: center;
}

.intro h2 {
    padding: 100px;
    margin-right: 30px;
    line-height: 1.5;
    font-size: 54px;
    font-weight: 700;
}

.intro h2 span {
    color: #739072;
}
.see-more-container {
    text-align: center;
    margin-top: 20px; 
}

.see-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4f6f52;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.see-more-button:hover {
    background-color: #3c573f; 
}


@keyframes change{
    0%
    {
        background-image: url(../images/image1.jpg);
    }
    20%
    {
        background-image: url(../images/image2.jpg);
    }
    40%
    {
        background-image: url(../images/image3.jpg);
    }
    60%
    {
        background-image: url(../images/image4.jpg);
    }
    80%
    {
        background-image: url(../images/image5.jpg);
    }
    100%
    {
        background-image: url(../images/image1.jpg);
    }
}